body {
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

body * {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #373737;
}

button {
  font-weight: normal;
  border: none;
  background-color: inherit;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

select, input {
  border: none;
  background-color: inherit;
}

/* */

.header {
  z-index: 2;
  width: 70%;
  padding: 50px 15% 0 15%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 540px;
  display: flex;
  justify-content: space-between;
}

.site-navigation-item {
  text-transform: uppercase;
}

.header-logo, .footer-logo {
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border: 3px solid black;
}

.user-navigation {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

/* */

.main-screen {
  z-index: 1;
  height: 1025px;
  position: relative;
  background-image: url('img/main-screen-back.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.main-screen-text {
  padding-top: 380px;
  padding-left: 10%;
}

.main-screen-title {
  font-size: 60px;
  font-weight: bold;
}

.main-screen-btn {
  background: #373737;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  margin-top: 70px;
  width: 210px;
  height: 65px;
}

.main-screen-decoration {
  position: absolute;
  bottom: 120px;
  left: 10%;
  width: 20px;
  height: 120px;
  background-image: url('img/main-screen-decoration.png');
}

/* */

.winter {
  margin-bottom: 200px;
  padding: 0 12% 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.winter-caption {
  width: 25%;
}

.winter-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.winter-text {
  font-size: 20px;
}

.winter-btn {
  display: block;
  width: 210px;
  height: 65px;
  margin-top: 60px;
  border: 1px solid #373737;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.12em;
}

/* */

.everyday {
  height: 635px;
  background-image: url('img/everyday-collection-back.png');
  background-repeat: no-repeat;
  background-position: center;
}

.everyday-caption {
  width: 22%;
  padding-top: 65px;
  padding-right: 12%;
  margin-left: auto;
  margin-right: auto;
}

.everyday-title {
  font-weight: 600;
  font-size: 40px;
}

.everyday-text {
  margin-top: 50px;
  font-size: 20px;
}

.everyday-gallery {
  width: 24%;
  max-width: 405px;
  padding-left: 3%;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-photos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery-slides-controls {
  width: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.gallery-slides-control {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.active-slide {
  background-color: #373737;
}

/* */

.strict {
  padding: 140px 20% 0 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strict-title {
  font-weight: 600;
  font-size: 40px;
}

.strict-text {
  margin-top: 30px;
  font-size: 20px;
}

.strict-btn {
  width: 210px;
  height: 65px;
  margin-top: 60px;
  border: 1px solid #373737;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.12em;
}

/* */

.popular {
  margin: 180px 0;
}

.popular-title {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 40px;
}

.popular-list {
  width: 78%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.popular-item {
  width: 17%;
  height: 415px;
  background-color: white;
  padding: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.popular-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.popular-item-name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
}

.popular-item-price {
  font-size: 20px;
  color: #C4C4C4;
  margin-top: 1%;
}

.popular-item-btn {
  width: 180px;
  height: 55px;
  margin-top: 30px;
  background-color: #373737;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.12em;
  font-weight: 600;
  font-size: 16px;
}

.popular-more-btn {
  display: block;
  width: 255px;
  height: 65px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.12em;
  color: #373737;
  border: 1px solid #373737;
}

/* */

.footer {
  height: 120px;
  padding: 0 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9E3EF;
}

.footer-main {
  width: 58%;
  padding-left: 15%;
  display: flex;
  justify-content: space-between;
}

.footer-main-item {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.07em;
  color: #000000;
}
